body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f9;
}

header {
    background: #002868;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #bf0a30;
    padding: 10px;
    text-align: center;
}

nav button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background: white;
    cursor: pointer;
    font-weight: bold;
}

.seccion {
    padding: 30px;
}

/* LOGIN */
.login-body {
    background: #002868;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.login-box input, .login-box select {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}
