body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
    color: #222;
}

/* HEADER */
header {
    background: #002868;
    color: white;
    padding: 30px;
    text-align: center;
}

/* NAV */
nav {
    background: #bf0a30;
    text-align: center;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* SECCIONES */
section {
    padding: 60px 20px;
    text-align: center;
}

.hero {
    background: #e9ecef;
}

/* CARDS */
.card {
    background: white;
    display: inline-block;
    width: 250px;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* FOOTER */
footer {
    background: #002868;
    color: white;
    padding: 20px;
    text-align: center;
}
